<div class="ui-g ">


  <div>
    <b>Départ : </b><br />
    <a>Aeroport de départ : {{voyage.departureIcao}}</a><br />
    <a>Heure de départ : {{voyage.departureTime}}</a><br /><br />

    <b>Arrivée : </b><br />
    <a>Aeroport de d'arrivé : {{voyage.arrivalIcao}}</a><br />
    <a>Heure d'arrivée : {{voyage.arrivalTime}}</a><br /><br />

    <b>Detail du vol : </b><br />
    <a>Distance : {{voyage.distance}}</a><br/>
    <a>Prix : {{voyage.prix}}</a><br/>
    <a>Code de la companie de vol : {{voyage.airlineIcao}}</a><br />
    <a>Numéro de vol : {{voyage.flightNumber}}</a><br /><br />
    <a>Companie de vol : {{airline.nameAirline}}</a><br />
    <a>Pays : {{airline.codeIso2Country}}</a><br/>

  </div>


  <div class="form-group">
    <p-button (onClick)="addToCart()" label="Ajouter au panier"></p-button>
  </div>

</div>