.ui-menubar{
    border: 1px solid #5b6369 !important;
    background: #1a374d  !important;
    color: #ffffff !important;
    font-weight: bolder !important;
    border:0px;
    padding:0px;
}
.ui-button{
    background-color: #1a374d;  
}
.ui-corner-all {
    border-radius: 0px;
}   
.ui-menuitem{
    border:0px;
    padding:5px;
}
.ui-menuitem-text{
    color:white;

}

.ui-menuitem-icon{
    color:white;

}